.post {
  display: flex;
  align-items: flex-start;
  /* padding-bottom: 10px; */
  padding: 12px 16px 0px;
  cursor: pointer;
}

.post__body {
  flex: 1;
}

.post .post__avatar {
  padding: 0px 12px 0px;
}

.post__authorName {
  font-weight: 600;
  font-size: 15px;
}

.post__header .post__username {
  font-size: 15px;
  color: gray;
}

.post__content {
  font-size: 15px;
}

.post__footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 12px;
}

.post__footer .element {
  flex: 1 1 12px;  
}

.post .post__badge {
  color: var(--twitter-color);
  font-size: 16px;
}

.post .element button {
  border: none;
  padding: 8px;
}

.post .element button:hover {
  background-color: #e6e3e3;
  cursor: inherit;
  border-radius: 35px;
}

.post .element .heart:hover {
  color: red;
}

.post .element .chat:hover {
  color: var(--twitter-color);;
}

.post .element .save:hover {
  color: var(--twitter-color);;
}

.post .element .share:hover {
  color: green;
}