.tweet {
  padding-bottom: 10px;
  padding-right: 10px;
}

.tweet > form {
  display: flex;
  flex-direction: column;
}

.tweet__input {
  padding: 20px;
  display: flex;
}

.tweet__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweet .tweet__submit-btn {
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;
  text-transform: inherit;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
}

.tweet .tweet__submit-btn:hover {
  background-color: #47a2db;
}
