.widget {
  flex: 0.3;
}
/* 
.widgets__search {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  margin-left: 20px;
  background-color: #e6e3e3;
  border-radius: 20px;
} */

.widgets__search {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 20px;
}

.widgets__search svg {
  position: absolute;
}

.widgets__searchIcon {
  padding: 5px;
  color: red;
  min-width: 50px;
  text-align: center;
}

